*
{
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}
body
{
    overflow-y: scroll;
    overflow-x: hidden;
}
main{
    background-color: #232323;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
.main
{
    height: 80vh;
    background-color: black;
    margin-bottom: 10px ;


}
.first
{
    background-image: url(../images/bg.jpg);
    /* height: 92vh; */
    background-size: max(1350px,100vw);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:664px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.first .nav
{
    /* background-color:black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: auto;
    height: 15%;
    padding: 10px;
    padding-left: 15px;
    flex-shrink: 1;
    /* width: 100%; */
}

.i1
{
    height: 5rem;
    width: 55%;
    position: relative;
    z-index: 10;
}

.cont
{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    margin-top: 12.30%;
    z-index: 10;
    gap:0px 20px;
    text-align: center;
}
.sb
{
    height: 60px;
    width: min(580px,90vw) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sb input
{
    height: 60px;
    width: max(60%,200px);
    margin-right: 6px ;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.2rem;
    border-style: solid;
    border-color: #6b6a6aba;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    flex-shrink: 2;

}
.sb button
{
    height: 60px;
    width: 36%;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

}
.cont h1
{
    font-size: 49px;
    font-weight: 800;
}
.span1
{
    font-size: 30px;
}
.span2
{
    font-size: 25px;
}

  .language-dropdown 
  {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5); /* Slightly transparent white */
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-right: 10px;
  }

  
.bt .bt2
{   
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
 background-color: red;
 color: white;
}
@media (max-width:950px) {
    .first
    {
     height:max(664px, 70vh);
    }
 }
@media (max-width:1100px) {
    .first .nav
    {
     height: 70px;
     width: 95vw;
     margin: 0px;
    }
 }
@media (max-width:600px) {
    .nav
    {
     height: 70px;
     width: 60%;
    }
    .i1
    {
       height: 3rem;
       width: 55%;
    }
    

}
@media (max-width:600px) {
    .sb
    {
        flex-direction: column;
        height: 125px;
        width: 95%;
    }
    .sb input
    {   
        width: 90%;
        height: 50px;
    }
    .sb button
    {
        height: 50px;
        width: max(36%,115px);
        font-size: 15px;

    }
}

@media (max-width:950px) {
    .cont h1
    {
        font-size: 30px;
        
    }
    .span1
    {
        font-size: 20px;
    }
    .span2
    {
        font-size: 15px;
    }
    .cont
    {
        margin-top: 14.5%;
    }
 }
 @media (max-width:440px) {
    .language-dropdown 
    {
     padding: 8px 10px;
     margin-right: 5px;
        width: 20px;
    }
    .bt .bt2
    {
        padding: 8px 10px;

    }
 }

 .sb button:hover
 {
    width: 34%;
    height: 50px;

 }
 .bt .bt2:hover
 {
    padding: 6px 10px;
    margin-left: 10px;

 }
 .second
 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 .txt
 {
    width: 40%;
 }
 .txt .note
 {
    font-size: 24px;
 }
 .txt .head
 {
    font-weight: 900;
    font-size: 45px;
 }
 .mdn
 {
    width: 600px;
    position: relative;
    margin-bottom: 2rem;
 }
 .mdn img
 {
    position: relative;
    z-index: 10;
    width: 100%;
 }
 .mdn video
 {
    position: absolute;
    top:20%;
    left:13%;
    width: 73%;

 }
 #fourth video
 {
    position: absolute;
    top:13%;
    left:18%;
    width: 63%;
 }
 #sixth
 {  width: 100%;
    height: 925px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
 }
 @media (max-width: 1280px) {

     .txt
 {
    width: 50%;
    margin-left: 20px;
 }
 .mdn
 {
    width: 50%;
    margin-right: 20px;
    
 }
 }
 @media (max-width:960px) {
    .second
    {   padding-top: 72px;
        flex-direction: column;
        padding-bottom: 72px;
       height: 660px;
    }
    .txt .head
    {
        font-size: 33px;
        text-align: center;
    }
    .txt .note
    {
        font-size: 23px;
        text-align: center;

    }
    #third
    {
       flex-direction: column-reverse;
    }
    .txt
    {
       width: 70%;
       margin-left: 20px;
    }
    .mdn
    {
       width: 85%;
       margin-right: 20px;
       margin:auto;       
    }
    
 }
 @media (max-width:660px) {
    .second
    {   padding-top: 72px;
        flex-direction: column;
        padding-bottom: 72px;
       height: 525px;
    }
    
 }

 .one
{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.one .head
{
    font-size: 48px;
    font-weight: 900;
}
.two::-webkit-scrollbar {
    display: none;
}
/* body::-webkit-scrollbar {
    display: none;
} */
.two
{
    height: 60%;
    width: 77%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    gap: 5px;
    

}


summary
{
    background-color: #232323;
    width: 100%;
    font-size: 30px;
    padding: 20px 10px 20px 10px;
}
details
{
    background-color: #383838;
    width: 100%;
}
details p
{
    font-size: 25px;
    font-weight: 300;
    padding: 15px;
}
.three
{
    height: 12%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;

}
.three .note
    {
        font-size: 20px;
    }
@media (max-width:960px) {
    .one .head
{
    font-size: 33px;
    font-weight: 900;
}
}
@media (max-width:750px) {
    .three
    {
        margin-top: 35px;
    }
}
@media (max-width:600px) {
    .three
    {
        margin-top: 45px;
    }
    summary
    {
        font-size: 25px;
    }
    details p
    {
        font-size: 20px;
    }
    .three .note
    {
        font-size: 16.5px;
    }
}
@media (max-width:370px) {
    .one .head
    {
        font-size: 20px;
        font-weight: 900;
    }
    summary
    {
        font-size: 18px;
    }
    details p
    {
        font-size: 12px;
    }
    .three .note
    {
        font-size: 12px;
    }
}
#seven
{
    height:380px;
    width:100%;
    display: flex;
    padding: 20px;
    justify-content:center ;
    align-items: center;
    box-sizing: border-box;
}
#l1
{
    width: 1100px;
    height: 85%;
    padding: 15px;
}
#l2
{
    display: flex;
    width: 100%;
    justify-content:space-between ;
}
#l3
{
    width: 50%;
    display: flex;
    justify-content:start;
}
#l3 a
{
    width: 50%;
    margin: 16px 0px 0px 12px;
    color: #dcd7d7;
}
@media (max-width:960px) {
    #l2
    {
        flex-direction: column;
    }
    #l3
    {
        width: 100%;
    }
    #seven
    {
        height: 525px;
    }
    
}
@media (max-width:300px) {
    #l3
    {
        flex-direction: column;
    }
    #l3 a
    {
        width: 100%;
    }
    #seven
    {
        height: 880px;
    }
}